node_modules/
dist/
build/
.swc/
coverage/
*.min.js
*.min.css
*.bundle.js
public/
docs/
config/
types/
*.config.js
*.config.ts
babel.config.js
jest.config.ts
pnpm-lock.yaml
package-lock.json
yarn.lock
